/.idea/.gitignore
/.idea/compiler.xml
/.idea/dataSources.xml
/.idea/encodings.xml
/.idea/jarRepositories.xml
/article-checker/.mvn/wrapper/maven-wrapper.jar
/article-common/.mvn/wrapper/maven-wrapper.jar
/articles-app/.mvn/wrapper/maven-wrapper.jar
/article-checker/.mvn/wrapper/maven-wrapper.properties
/article-common/.mvn/wrapper/maven-wrapper.properties
/articles-app/.mvn/wrapper/maven-wrapper.properties
/.idea/misc.xml
/.idea/uiDesigner.xml
/.idea/vcs.xml
/article-checker/.mvn/wrapper/maven-wrapper.jar
/article-common/.mvn/wrapper/maven-wrapper.jar
/articles-app/.mvn/wrapper/maven-wrapper.jar
/.idea/jpa-buddy.xml
/article-oauth-server/.mvn/wrapper/maven-wrapper.jar
/article-oauth-server/.mvn/wrapper/maven-wrapper.properties
/.idea/sqldialects.xml
/oauth-service/mvnw
/oauth-service/mvnw.cmd
/oauth-service/.mvn/
/oauth-security-server/.mvn/
/.idea/sonarlint/
